*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("src/assets/1.svg");
    background-size: calc(25%);
    min-height: 100vh;
  }

  @media only screen and (max-width: 425px) {

    body{
      background-size: calc(90%);
    }
  }