.navHeader{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: #F8F5F1;
    justify-content: space-between;
    align-items: center;
    color: #B55040;
    height: 7rem;
    padding: 1rem;
    border-bottom: #B55040 solid 1px;
}

#logoImg img{
    height: 6rem;
    cursor: pointer;
}

.menuNav ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.divLogin{
    display: flex;
    gap:0.3rem;    
}

.loginImg{
    display: flex;
    border-radius: 3rem;
    border:#B55040 2px solid;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
}

.loginImg img{
    height: 2rem;
    margin-bottom: 5px;
    cursor: pointer;
}

.linkMenu, .linkLogin{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: none;
    color: #B55040;
    text-decoration: underline;
    background-color: #F8F5F1;
}

.linkMenu:hover, .linkLogin:hover{
    color: #CF683B;
    font-weight: 600;
}

.linkMenu{
    font-size: 1.5rem;
    cursor: pointer;
}

.linkLogin{
    font-size: 1rem;
    cursor: pointer;
}

.divCarrinho{
    position: relative;    
    margin-right: 2rem;
    cursor: pointer;
}

.divCarrinho img{
    height: 3.4rem;
}

.contador{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    bottom: 0rem;
    right: -0.1rem;
    background-color: #F8F5F1;
    border: 1px solid #B55040;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    padding: 0.7rem;
}
.boasVindas{    
    position: absolute;
    right: 16rem;
    padding: 1rem;
    font-weight: 600;
}