.container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b55040;
    color: #f8f5f1;
    margin: 18rem;
    border-radius: 1rem;
    padding: 1rem;
}
.notFoundButton{
    background-color:#f8f5f1;
    color: #b55040;
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border: none;
    cursor: pointer;
}

.notFoundButton:hover{
    background-color: #cf683b;
    color: #f8f5f1;
}